<table class="table table-bordered">
  <tr>
    <th scope="row">Nom :</th>
    <td>{{ infosIndividu.name }}</td>
  </tr>
  <tr>
    <th scope="row">Société :</th>
    <td>{{ infosIndividu.company.name }}</td>
  </tr>
  <tr>
    <th scope="row">Website :</th>
    <td>{{ infosIndividu.website }}</td>
  </tr>
  <tr>
    <th scope="row">Tel :</th>
    <td>{{ infosIndividu.phone }}</td>
  </tr>
  <tr>
    <th scope="row">Mail :</th>
    <td>{{ infosIndividu.email }}</td>
  </tr>
  <tr>
    <th scope="row">Adresse :</th>
    <td>
      {{ infosIndividu.address.street }} {{ infosIndividu.address.suite }}
      {{ infosIndividu.address.zipcode }} {{ infosIndividu.address.city }}
    </td>
  </tr>
</table>
