<table class="table">
  <tr>
    <td class="font-weight-bold">
      Nom :
    </td>
    <td class="font-weight-bold">
      {{ nom }}
    </td>
  </tr>
  <tr>
    <td class="font-weight-bold">
      Société :
    </td>
    <td>
      {{ societe }}
    </td>
  </tr>
  <tr>
    <td class="font-weight-bold">
      Website :
    </td>
    <td>
      {{ site }}
    </td>
  </tr>
  <tr>
    <td class="font-weight-bold">
      Tel :
    </td>
    <td>
      {{ tel }}
    </td>
  </tr>
  <tr>
    <td class="font-weight-bold">
      Mail :
    </td>
    <td>
      {{ email }}
    </td>
  </tr>
  <tr>
    <td class="font-weight-bold">
      Adresse :
    </td>
    <td>
      {{ adresse }}
    </td>
  </tr>
</table>
