<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <label>Print Title</label>
    <br />

    <button type="button" class="btn btn-primary" (click)="ExecuteWs()">
      Init List
    </button>

    <table class="table-bordered">
      <tbody>
        <tr *ngFor="let post of posts">
          <td>
            <a [routerLink]="['/individu']">{{ post.name }}</a>
          </td>
        </tr>
        <tr>
          <router-outlet></router-outlet>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
  </body>
</html>
