<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div [align]="alignement">
      <label>
        <span class="badge badge-secondary">Projet Angular</span>
      </label>
    </div>
    
    <br />
    <button class="btn btn-primary" (click)="ExecuteWs()">Init List</button>

    <ul class="list-group list-group-horizontal">
      <li *ngFor="let post of posts" class="list-group-item ">
        <a (click)="affich_details(post)">{{ post.name }}</a>
      </li>
    </ul>
   
    <div *ngIf="clic_list">
      <app-personne post="{{ details_pers_value }}"></app-personne>
    </div>

  </body>
</html>