<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <label>Print Title</label>
    <br />

    <button type="button" class="btn btn-primary" (click)="ExecuteWs()">
      Init List
    </button>

    <ul class="list-group">
      <li *ngFor="let post of posts" class="list-group-item">
        <a (click)="afficherInfos(post)">{{ post.name }}</a>
      </li>
    </ul>
    <div class="details_post">
      <div *ngIf="infosIndividu">
        <app-individu post="{{ infosPost }}"></app-individu>
      </div>
    </div>
  </body>
</html>
